{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="//cdn1.baiwuya.cn/blog_baiwuya/css/reset.css">
    <link rel="stylesheet" href="//cdn1.baiwuya.cn/blog_baiwuya/css/index.css">
</head>
<body>
{{template "_header"}}
<div id="main">

{{template "_list" .ArticleList}}
{{template "_rside" .Nav}}

</div>
<footer>
    Copyright &copy; 2017-2018 Bai Wu Ya
</footer>
</body>
</html>
{{ end }}