{{ define "article_list" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/reset.css">
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/adm.css?v=1.1.1">
    <style>
        form {
            width:30%;
            margin:0 auto;
        }
    </style>
</head>
<body>
<header>
    <h1>后台管理界面</h1>
</header>
<div id="main">
{{template "_admin_lside"}}

    <div id="rside">
        <table>
            <tr>
                <td>序号</td>
                <td>日期</td>
                <td>标题</td>
                <td>分类</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
{{ range .ArticlePageData.List }}
            <tr>
                <td>{{.article_id}}</td>
                <td>{{.created_at | strtotime}}</td>
                <td style="width: 200px;"><a href="#">{{.headline}}</a></td>
                <td>{{.type_name}}</td>
                <td>
                {{.state}}
                </td>
                <td>
                    <a href="/admin/article/create?article_id={{.article_id}}">修改</a>
                    <a href="/admin/article/delete?article_id={{.article_id}}">删除</a>
                </td>
            </tr>
{{end}}
        </table>
        <div class="pagebar">
            Pages({{.ArticleList.Page}})
            <ul class="pagination">
            {{mypages .ArticleList.Page .ArticleList.CurrentPage }}
            </ul>
        </div>

    </div>

</div>
<footer>
    Copyright &copy; 2015 · GeneratePress · WordPress
</footer>
</body>
</html>
{{ end }}