{{ define "archive" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/reset.css">
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/index.css?time=1.1.6">
</head>
<body>
{{template "_header"}}
<div id="main">

    <div id="lside">
        <aside>
            <h4>归档</h4>
            <ul>
            {{ range .Archive }}
                <li class="line-limit-length"><a href="/archive/{{.created_at}}">{{.created_at}}</a><span>&nbsp;({{.cnt}})</span></li>
            {{ else }}
                <h4>数据查询失败</h4>
            {{end}}
            </ul>
        </aside>
    </div>


</div>
<footer>
    Copyright &copy; 2017-2018 Bai Wu Ya
</footer>
</body>
</html>
{{ end }}