{{ define "list" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/reset.css">
    <link rel="stylesheet" href="http://127.0.0.1:81/static/css/index.css?time=1.1.6">
</head>
<body>
{{template "_nav"}}
<div id="main">

    {{template "_list" .ArticleList}}

    <div id="rside">
        <aside>
            <h2>GitHub: </h2>
            <a href="https://github.com/ibaiwuya" target="view_window">https://github.com/ibaiwuya</a>
            <h2>Email: </h2>
            <a href="mailto:ibaiwuya@163.com" rel="nofollow">ibaiwuya@163.com</a>
        </aside>
    {{if .Nav}}
        <aside>
            <h4>分类</h4>
            <ul>
            {{ range .Nav }}
                <li class="line-limit-length"><a href="/type/{{.url}}">{{ .name }}</a></li>
            {{ else }}
                <h4>数据查询失败</h4>
            {{end}}
            </ul>
        </aside>
    {{end}}
    {{if .Archive}}
        <aside>
            <h4>归档</h4>
            <ul>
            {{/*<b>2014</b>*/}}
            {{ range .Archive }}
                <li class="line-limit-length"><a href="/archive/{{.created_at}}">{{.created_at}}</a><span>&nbsp;({{.cnt}})</span></li>
            {{ else }}
                <h4>数据查询失败</h4>
            {{end}}
            </ul>
        </aside>
    {{end}}
        <aside>
            <h4>公众号:</h4>
            <img src="https://cdn1.baiwuya.cn/blog/assets/wxgzh.jpg" alt="" width="200px">
        </aside>
    </div>
</div>
<footer>
    Copyright &copy; 2017-2018 Bai Wu Ya
</footer>
</body>
</html>
{{ end }}