{{ define "_admin_lside" }}
<div id="lside">
    <aside>
        <h4>文章管理</h4>
        <ul>
            <li><a href="/admin/article">文章列表</a></li>
            <li><a href="/admin/article/create">发布文章</a></li>
        </ul>
    </aside>
    <aside>
        <h4>评论管理</h4>
        <ul>
            <li><a href="/admin/comment">评论列表</a></li>
            <li><a href="">已发邮件</a></li>
        </ul>
    </aside>
    <aside>
        <h4>其他</h4>
        <ul>
            <li><a href="">系统监控</a></li>
            <li><a href="">缓存管理</a></li>
            <li><a href="/admin/outlogin">退出登陆</a></li>
        </ul>
    </aside>
</div>
{{ end }}