{{ define "_rside" }}
<div id="rside">
    {{/*<aside>*/}}
        {{/*<h4>归档</h4>*/}}
        {{/*<ul>*/}}
        {{/*{{ range . }}*/}}
            {{/*<li class="line-limit-length"><a href="/archive/{{.created_at}}">{{.created_at}}</a><span>&nbsp;({{.cnt}})</span></li>*/}}
        {{/*{{ else }}*/}}
            {{/*<h4>数据查询失败</h4>*/}}
        {{/*{{end}}*/}}
        {{/*</ul>*/}}
    {{/*</aside>*/}}
    <aside>
        <h4>分类</h4>
        <ul>
        {{ range . }}
            <li class="line-limit-length"><a href="/type/{{.url}}">{{ .name }}</a></li>
        {{ else }}
            <h4>数据查询失败</h4>
        {{end}}
        </ul>
    </aside>
    <aside>
        <h4>公众号:</h4>
        <img src="https://cdn1.baiwuya.cn/blog/assets/wxgzh.jpg" alt="" width="200px">
    </aside>
</div>
{{end}}